body {
    background-color: #D2D4BC;
    /*
    #F17B52 orange
    #EA596A rosa
    */
}


.aside {
    background-image: url("score.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: relative;
    float: right;
    display: block;
    padding-right: 20px;
}

#todayPoints, #allTimePoints {
    color: white;
    font-weight: bold;
    position: relative;
    width: 95px;
    text-align: center;
    font-size: 50px;
}
#todayPoints {
    left: 37px;
    top: 70px;
}

#allTimePoints {
    top: 15px;
    left: 270px;
}