body {
    background-color: #D2D4BC;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*CSS för header*/
header {
    grid-row: 1;
    grid-column: 1 / 3;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    display: block;
}
#logotype{
  position: relative;
  margin-left: 20px;
  margin-top:  10px;
}
#welcomeBack{
  display: inline-block;
  position: relative;
  float: right;
  top: 50px;
  margin-right: 100px;
  font-size: 2.3em;
  font-family: 'PT Sans', sans-serif;
}
/*CSS för main elementen*/
main {
    grid-column: 1;
    grid-row: 2;
    padding-left: 100px;
    padding-top: 30px;
}
/*CSS för nytt spel div*/
.newGame {
    background-color: #F7F6E7;
    padding: 20px;
    border: 4px solid #EA596A;
    width: 600px;
    height: 300px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.newGame p {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
}
#newGameButton {
    font-family: 'PT Sans', sans-serif;
    width: 120px;
    height: 2em;
    margin: 20px;
    background-color: #EA596A;
    font-size: 20px;
    border: none;
}
/*CSS för frågediv*/
.trivia {
    background-color: white;
    padding: 20px;
    border: 4px solid #EA596A;
    width: 600px;
    height: 300px;
    text-align: center;
    display: none;
}
.trivia p {
    font-family: 'PT Sans', sans-serif;
}
#cathegory {
    font-size: 25px;
}
#question {
    font-size: 20px;
}
#trueButton {
    font-family: 'PT Sans', sans-serif;
    width: 120px;
    height: 2em;
    margin: 20px;
    background-color: #EA596A;
    font-size: 20px;
    border: none;
}
#falseButton {
    font-family: 'PT Sans', sans-serif;
    width: 120px;
    height: 2em;
    margin: 20px;
    font-size: 20px;
    background-color: #EA596A;
    border: none;

}
/*CSS för rätt svar div*/
#correct {
    display:none;
    background-color: white;
    padding: 20px;
    border: 4px solid #EA596A;
    width: 600px;
    height: 300px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
#correct img {
    height: 200px;
    margin-left: 120px;
    margin-right: 120px;
}
#correct p {
    font-size: 20px;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}
#correctNext {
    font-family: 'PT Sans', sans-serif;
    width: 120px;
    height: 2em;
    margin-top: 15px;
    font-size: 20px;
    background-color: #EA596A;
    border: none;
}
/*CSS för fel svar div*/
#wrong {
    display:none;
    font-family: 'PT Sans', sans-serif;
    background-color: white;
    padding: 20px;
    border: 4px solid #EA596A;
    width: 600px;
    height: 300px;
    text-align: center;
}
#wrong img {
    height: 200px;
    margin-left: 120px;
    margin-right: 120px;
}
#wrong p {
    font-size: 20px;
    margin: 0px;
}
#wrongNext {
    font-family: 'PT Sans', sans-serif;
    width: 120px;
    height: 2em;
    margin-top: 15px;
    font-size: 20px;
    background-color: #EA596A;
    border: none;
}
/*CSS för aside*/
aside {
    grid-column: 2;
    grid-row: 2;
    padding-right: 100px;
}
.aside {
    background-image: url("score.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: relative;
    float: right;
    display: block;
}
#todayPoints, #allTimePoints {
    color: white;
    font-weight: bold;
    position: relative;
    width: 95px;
    text-align: center;
    font-size: 50px;
}
#todayPoints {
    left: 37px;
    top: 70px;
}

#allTimePoints {
    top: 15px;
    left: 270px;
}
/*CSS för skriv in användarnamn divar och animation*/
#nextPage {
    width: 500px;
    display: block;
    height: 50px;
    background-color: #20D0C2;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #999999;
    text-shadow: 0 1px rgb(202, 212, 216);
    text-align: center;
    transition: background-color 1s;
    font-family: 'PT Sans', sans-serif;
}
#nextPage:hover {
  background-color: #FF5B61;
}
.warning {
  width: 500px;
  color: rgb(90, 90, 90);
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}
.warningSpan {
  color: #FF5B61;
  font-size: 18px;
}
#nameInput {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: #FF5B61;
    font-family: 'PT Sans', sans-serif;
}
.background {
    grid-row: 1 / 3;
    grid-column: 1/3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #D2D4BC;
  /*background: radial-gradient(ellipse at center, #edf3f8 1%,#dee3e8 100%);*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf3f8', endColorstr='#dee3e8',GradientType=1 );
} 
.content {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.thinkingImg {
    z-index: 10;
    width: 500px;
}   
.pentahedron {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3E82F7; 
}
.point {
  fill: #8491A3;
}
.rhombus {
  fill: #2DA94F;
  stroke: #2DA94F;
} 
.x {
  fill: #FDBD00;
}
.circle {
  fill: #ED412D;
}
svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px);
}
